<li>
	{{burger_name}}

	<button class="change-deboured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}EAT ME!{{else}}EAT TIME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>